@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  .scroll-div {
    overflow-y: scroll;
    height: 100%;
  }
  .scroll-div::-webkit-scrollbar {
    display: none;
  }
  .horizontal-scroll-div {
    overflow-x: scroll;
    width: 100%;
  }
  .horizontal-scroll-div::-webkit-scrollbar {
    display: none;
  }
}